{% extends "base/base.html" %}

{% block main %}
    <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}   
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <div class="col-md-4">
        <div class="content-section">
            <h3 class="mt-1">
                <ion-icon name="home-outline"></ion-icon>
                Home
            </h3>
            <p class='text-muted'>This is where your story starts.</p>
            <ul class="list-group">
                <h4 class="mt-3">Basics</h4>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'impressum' %}">Impressum</a></li>
                <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'disclaimer' %}">Disclaimer</a></li>

                <h4 class="mt-3">Identity</h4>
                {% if user.is_authenticated %}
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'profile' %}">Your Profile</a></li>
                    {% if user.is_superuser %}
                        <li class="list-group-item list-group-item-light"><a class="nav-link" href="/admin">Administration</a></li>
                    {% endif %}
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
            </p>
        </div>
    </div>
{% endblock main %}